@keyframes blink {
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btn-blink {
  0% {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  50% {
    background: var(--seondary-color);
    color: var(--primary-color);
  }
  100% {
    background: var(--primary-color);
    color: var(--secondary-color);
  }
}
