/* 
    TODO widescreen
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
    TODO tablet landscape
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin-top: 80px;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .navbar .logo {
    right: 0;
    margin-bottom: 0.5rem;
  }

  .hero-content {
    justify-content: flex-start;
    top: 101px;
  }

  .hero-content > * {
    margin-top: 5rem;
  }

  .hero-content h2 {
    font-size: 1.5rem;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  /* About */
  .about__items {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about__items--item:hover .about__items--text {
    display: block;
  }

  .about__items--text {
    display: none;
  }

  /* Portfolio */
  .portfolio__items--item p {
    display: none;
  }

  .portfolio__items--item img {
    width: 200px;
    height: 155px;
  }

  /* Contact */
  .contact h2 {
    font-size: 1.6rem;
  }
}
