@media (min-width: 481px) and (max-width: 768px) {
  /* CSS */
  /* About */
  .about__items {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about__items--item:hover .about__items--text {
    display: block;
  }

  .about__items--item:hover i {
    display: none;
  }

  .about__items--text {
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin-top: 80px;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .navbar .logo {
    right: 0;
    margin-bottom: 0.5rem;
  }

  .hero-content {
    justify-content: flex-start;
    top: 101px;
  }

  .hero-content > * {
    margin-top: 5rem;
  }

  .hero-content h2 {
    font-size: 1.5rem;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  /* Portfolio */
  .portfolio__items--item p {
    display: none;
  }

  .portfolio__items--item img {
    width: 150px;
    height: 115px;
  }

  /* Contact */
  .contact h2 {
    font-size: 1.6rem;
  }
}
