@import url("https://fonts.googleapis.com/css?family=Roboto");
/* TODO BEM */
:root {
  --page-size: 100vh;
  --primary-color: white;
  --color-redpink: #e31b6d;
  --color-darkpink: #9e124c;
  --color-lightgreen: #93cb52;
  --color-darkgreen: #7ab436;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #2f2f2f;
  color: white;
  z-index: 1;
  padding: 1rem;
}

.navbar__side-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__side-list a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.navbar__side-list a:hover {
  background: var(--color-darkpink);
  border-radius: 5px;
}

/* Hero */
.hero {
  background: #333 url("/img/hero-img.jpg") no-repeat center center/cover;
  height: var(--page-size);
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-content > * {
  margin: 1.1rem 0;
}

.hero__btn {
  font-size: 1.3rem;
}

/* Section: About */
/* TODO */
.about {
  height: var(--page-size);
}

.about .items {
  display: flex;
  padding: 1rem;
}

.about .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.about .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Portfolio */
.portfolio {
  height: var(--page-size);
}

/* Section: Contact */
/* TODO */
.contact {
  display: flex;
  height: calc(var(--page-size) - 1rem);
}

.contact .map,
.contact .contact-form {
  flex: 1;
}

.contact .contact-form .form-group {
  margin: 0.75rem;
}

.contact .contact-form label {
  display: block;
}

.contact .contact-form input,
.contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
