@import url("https://fonts.googleapis.com/css?family=Roboto");
/* TODO BEM */
:root {
  --page-size: 100vh;
  --primary-color: white;
  --secondary-color: #333;
  --color-redpink: #e31b6d;
  --color-darkpink: #9e124c;
  --color-lightgreen: #93cb52;
  --color-darkgreen: #7ab436;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  min-width: 320px;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #2f2f2f;
  color: white;
  z-index: 1;
  padding: 1rem;
}

.navbar__side-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__side-list a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.navbar__side-list a:hover {
  border-radius: 5px;
  animation: btn-blink 1s step-end infinite;
}

/* Logo animation */
.logo {
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  padding: 1rem;
  margin-left: 3rem;
  left: 0;
  top: 0;
  animation: blink 1s linear infinite;
}

/* Container for all pages */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  margin-top: 65px;
}

/* Hero */
.hero {
  background: #333 url("/img/hero-img.jpg") no-repeat center center/cover;
  height: var(--page-size);
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-content > * {
  margin: 1.1rem 0;
}

.hero__btn {
  font-size: 1.3rem;
}

/* Section: About */
/* TODO animations */
.about {
  height: var(--page-size);
}

.about__items {
  display: flex;
  padding: 1rem;
}

.about__items--item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.about__items--item i {
  background: var(--color-redpink);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* 
TODO animation
.about__items--text {
  margin: 1rem auto;
  border: var(--color-darkpink) 4px solid;
  border-radius: 20%;
} */

/* Section: Portfolio */
.portfolio {
  height: var(--page-size);
  overflow: hidden;
}

.portfolio__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.portfolio__items--item {
  flex: 25%;
  margin: 5px;
}

.portfolio__items--item img {
  border-radius: 16%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.portfolio__items--item img:hover {
  transform: scale(1.1);
}

/* Section: Contact */
/* TODO animation*/
.contact {
  display: flex;
  height: 90vh;
  background: rgba(0, 0, 0, 0.3)
    url("/img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg") no-repeat center
    center/cover;
}

.contact h2 {
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 1.1;
}

.contact__form {
  flex: 1;
  border-radius: 8%;
  background: var(--color-lightgreen);
  padding: 2rem;
  margin-top: 5rem;
}

.contact__form form {
  padding-top: 2rem;
}

.contact__form--item {
  margin: 0.75rem;
}

.contact .contact__form input,
.contact .contact__form textarea {
  width: 100%;
  padding: 0.5rem;
}

.contact .contact__form .contact__form--btn {
  font-size: 1.2rem;
}

.footer {
  height: 5vh;
  padding-top: 0.2rem;
}
