.text-tint {
  color: var(--color-redpink);
}

.btn {
  display: inline-block;
  color: var(--primary-color);
  background: var(--color-redpink);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: var(--color-darkpink);
}

.text-center {
  text-align: center;
}

.bg-dark {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.heading--large {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.heading--medium {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.padding-y {
  padding: 1.5rem 0;
}
